  <h5 class="card-header"><%= link_to tweet.title, tweet_path(tweet.id) %>（投稿者：<%= link_to tweet.user.nickname, user_path(tweet.user.id) %>）</h5>
  <div class="card-body">
    #<%= tweet.tags&.first&.tag_name %>
  </div>