<%= month_calendar(events: @diaries) do |date, diaries| %>
  <%= date.day %>

  <% diaries.each do |diary| %>
    <div>
      <%= diary.title %>
    </div>
  <% end %>
  
<% end %>

<%= link_to '夢日記をつける', new_diary_path %>
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
  Tooltip on top
</button>